Django>=6.0,<7.0
python-dotenv>=1.0.1
dj-database-url>=2.3.0
Pillow>=11.1.0
gunicorn>=23.0.0
django-extensions>=3.2.3
# Note: Django 6 prefers 'psycopg' (v3). 
# If you see deprecation warnings, replace this with 'psycopg[binary]>=3.2.0'
psycopg2-binary>=2.9.10
django-jazzmin>=3.0.1
fontawesomefree>=6.6.0
django-ckeditor>=6.7.2
django-countries>=7.6.1
markdown>=3.7
django-filter>=24.3
djangorestframework>=3.16.0
djangorestframework-simplejwt>=5.4.0
django-cors-headers>=4.7.0
drf_yasg>=1.21.9
email-verifier>=1.0.0
geoip2>=4.8.0
django-ipware>=7.0.1
phonenumbers>=8.13.52
django-phonenumber-field>=8.0.0
django-colorfield>=0.12.0
user-agents>=2.2.0
django-tinymce>=4.1.0
Faker>=33.3.0
bleach>=6.2.0
django-csp>=3.8